node_modules/
.pnpm-store/
dist/
build/
.next/
out/
coverage/
*.tsbuildinfo
.DS_Store
.env
.env.local
.env.*.local
*.log
npm-debug.log*
pnpm-debug.log*
.idea/
.vscode/
tmp/
.turbo/
prisma/*.db
prisma/*.db-journal
